In [2]:
import FinanceDataReader as fdr
import yfinance as yf
from pykrx import bond

In [5]:
enddate="2022-12-26"
nowdate="20221226"

In [9]:
dfplus = pd.DataFrame()
dfs = fdr.DataReader('KS11', '2012')  # 코스피
dfplus["KOSPI"] = dfs['Close']
dfs = fdr.DataReader('US500', '2012')  # S&P500
dfplus["S&P500"] = dfs['Close']
dfs = fdr.DataReader('ZG', '2012')  # 금
dfplus["Gold"] = dfs['Close']
dfs=yf.download('HG=F', '2012-01-01', enddate, auto_adjust=True)
# dfs = fdr.DataReader('HG', '2012')  # 구리
dfplus["Copper"] = dfs['Close']
dfs = bond.get_otc_treasury_yields("20120101", "nowdate", "국고채3년")

# dfs = fdr.DataReader('KR3YT=RR', '2010')  # 3년 한국채수익율
dfplus["Kgov3"] = dfs['수익률']
dfs = fdr.DataReader('USD/KRW', '2012')  # 환율
dfplus["USD-K"] = dfs['Close']
dfplus['Date'] = dfplus.index  # 인덱스값을 컬럼으로
#dfplus = dfplus.interpolate(method='linear', limit_direction='forward')  # 널값 처리(간극중간값)
dfplus.reset_index(drop=True, inplace=True)  # 인덱스 제거

[*********************100%***********************]  1 of 1 completed

In [7]:
dfplus=dfplus.ffill()
dfplus=dfplus.bfill()

In [10]:
dfplus

,KOSPI,S&P500,Gold,Copper,Kgov3,USD-K,Date
0,1826.369995,NaN,NaN,NaN,3.340,1159.400024,2012-01-02
1,1875.410034,1277.060059,7.193639,3.5250,3.350,1152.599976,2012-01-03
2,1866.219971,1277.300049,7.174930,3.4295,3.350,1144.800049,2012-01-04
3,1863.739990,1281.060059,7.171812,3.4225,3.340,1147.199951,2012-01-05
4,1843.140015,1277.810059,7.184284,3.4310,3.350,1153.400024,2012-01-06
...,...,...,...,...,...,...,...
2699,2328.949951,3878.439941,33.049999,3.8060,3.638,1283.640015,2022-12-21
2700,2356.729980,3822.389893,32.439999,3.7515,3.567,1280.770020,2022-12-22
2701,2313.689941,3844.820068,32.119999,3.8030,3.623,1290.199951,2022-12-23
2702,NaN,NaN,NaN,NaN,3.663,1279.239990,2022-12-26
2703,2332.790039,NaN,NaN,NaN,3.662,1272.060059,2022-12-27

In [76]:
dfplus.to_csv("원본 데이터 임시저장소/거시지표.csv",index=False)

In [ ]:
dfplus = pd.DataFrame()
dfs = fdr.DataReader('KS11', '2012')  # 코스피

In [33]:
# bond3_rate = fdr.DataReader('KR3YT=RR','2002')
# bond3_rate.head()

HTTP Error 404: Not Found  - symbol "KR3YT=RR"not found or invalid periods

Empty DataFrame
Columns: []
Index: []